.tag {
  border-radius: 999px;
  padding: 4px 12px;
  font-size: 13px;
  display: inline-block;
  font-weight: 500;
}

.purple {
  background: #EDE9FE;
  color: #6D28D9;
}

.gray {
  background: #F3F4F6;
  color: #4B5563;
}
